@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@600&display=swap');


.background-container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  overflow-x: hidden;
  margin:0;
  padding:0;
}

.header-text{
  position: absolute;
  left: 20%;
  font-family: 'Boldonse';
  font-weight: bold;
  font-size: 37px;
  margin-bottom: 10px
}

.line-chart-container{
  position: relative;
  left: 0%;
  top: 14%;
  width:100%;
  margin-top: 0px;
}


.text-container{
  margin-top: 35px;
  margin-left: 40px;
  padding: 0 1rem;
  width: 100%;
  /*max-width: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-box {
  background-color: #2ECC71;
  padding: 10px;
  border: 1px solid #F4D037;
  border-radius: 30px;
  text-align: center;
}

.text-box h2{
  font-family: "Prata";
  font-size: 18px;
  color: #F4D037
}

.text-box h3{
  font-family: "Prata";
  font-size: 20px;
  color: #FFF;
  font-weight: bold
}

.text-doughnut{
  position: absolute;
  font-family: "Prata";
  font-size: 14px;
  font-weight: "normal";
  top: 57%;
  left: 60%;
  transform: translateY(-50%)
}

.no-margin{
  margin-top: 5px;
  margin-bottom: 0;
}

.full-width-box{
  width: 100%;
  max-width:100%;
  background-color: #2ECC71;
  padding: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.right-button{
  background-color: #F4D037;
  color: #fff;
  padding: 10px 20px;
  border: none;
  height: 25px;
  font-size: 19px;
  font-family: 'Prata';
  border-radius: 5px;
  cursor: pointer;
}

.left-text{
  font-size: 20px;
  font-family: "Prata";
  color: #fff;
}